*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #473198;
    font-size: 30px;
    font-weight: bold;
    }

.nome {
    color: #4A0D67;
}