<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyThon</title>
    <link rel="stylesheet" href="/Web/static/style/style.css">

</head>

<body>
    <header>
        <div class="logo">
            <h1>Gerenciador de tarefas</h1>
        </div>

        <div class="log">
            <a href="/Web/static/pages/login.html">
                <button>
                    Login
                </button>
            </a>
            <a href="/Web/static/pages/registre.html">
                <button>
                    Registre-se
                </button </a>

                >
        </div>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>
<script src="/Web/static/js/script.js"></script>

</html>